* {
    font-family: "Poppins", sans-serif;
    /* box-sizing: border-box; */
    background-color: rgb(17, 17, 17);
    color: white;
}

ul {
    padding: 0;
}

nav {
    margin: 0px 20px;
}

nav ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

ul li {
    list-style: none;
}

li input {
    border: 2px solid transparent;
    outline:none;
    transition: 0.2s ease; 
    border-radius: 20px;
    width: 240px;
    height: 20px;
    display: flex;
    padding: 10px;
} 

ul li input:hover {
    border-color:whitesmoke;
}

ul li input:focus {
    border-color:whitesmoke;
}

li input::placeholder {
    text-align: center;
    font-weight: 600;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
}

.sections {
    border: 2px solid red;
    border-radius: 20px;
    padding: 20px;
    margin: 5px;
    height: 75vh;
}

.playlist {
    width: 25vw;
}

.songsDisplay {
    width: 50vw;
    display: grid;
    grid-template-columns:repeat(3,1fr);
    grid-template-rows:repeat(2, 1fr);
    gap: 10px;
    overflow: scroll;
    scrollbar-width: 300px;
  scrollbar-color: #616161 rgb(17, 17, 17);

}

.card{
    border: 2px solid transparent;
    border-radius: 20px;
    cursor: pointer;
    text-align: center;
}

.coverImage img{
    height: 200px;
    width: 200px;
    border-radius: 20px
}

.nowPlaying {
    width: 25vw;
}

.songControls{
    height: 10vh;
    /* background-color: red; */
    position: absolute;
    bottom: 0px;
    width: 100vw;
    display:flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 10px 0;
}

.controls{
    display:flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    cursor: pointer;
}

svg{
    width: 40px;
    height: 40px;
    background-color: wheat;
}

.play{
    display: block;
}


.seekbar{
    width: 80%;
    height: 5px;
    background-color: white;
    border-radius: 20px;
    cursor: pointer;
}